<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/beach.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>beach</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Botanist.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Botanist</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Castle.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Castle</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Conservationist.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Conservationist</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Fairy.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Fairy</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Farm.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Farm</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Farmer.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Farmer</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Forest.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Forest</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Image.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Image</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Knight.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Knight</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Photographer.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Photographer</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Pirate.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Pirate</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Playground.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Playground</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Scientist.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Scientist</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Spacestation.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Spacestation</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Surfer.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Surfer</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Veterinarian.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Veterinarian</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Volleyballer.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Volleyballer</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Waterpark.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Waterpark</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Zoo.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Zoo</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Zookeeper.imageset"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AI Tutor/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Zookeeper</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
